:root {
  --primary: #1d1d1d;
  --secondary: #1a1a1a;
  --popup: #13131383;
  --hover: brightness(1.1);
  --fileFocus: #252525;
  --radius: 12px;
  --margin: 2px;
}

::selection {
  background-color: rgba(173, 216, 230, 0.5);
  color: white;
}

/*
cursor on hiver
file delete confirmation and status
downalod popup?
cursor crosshair: primary action,
if options are available: alias
*/

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  color: white;
}
body {
  background-image: radial-gradient(rgb(59, 59, 59), rgb(16, 16, 16));
  padding-left: calc(6rem + 4vw);
  height: 100vh;
}
.spacer {
  height: 1rem;
}
.breaker {
  width: 72%;
  border-bottom: 1px solid grey;
  margin-bottom: 2rem;
}
h1 {
  font-size: 3.2rem;
  text-align: center;
  color: white;
}
h2 {
  font-size: 2.75rem;
  color: lightpink;
  color: white;
  color: lightblue;
  font-weight: normal;
}
a {
  text-decoration: none;
}
h4 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  padding-top: 7vh;
  color: grey;
  border: 1px solid grey;
  border-radius: 2rem;
  height: 16vh;
  animation: dropZone .75s 1s ease both;
}
h5 {
  color: grey;
  font-size: 1.2rem;
  margin: 0;
  cursor: cell;
}

/*file*/
#fileList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: calc(100vw-4rem-36px);
  row-gap: .75rem;
}
.fileLink {
  width: calc(33vw - 88px); /*3 times the margin variable*/
  background-color: var(--secondary);
  border: 1px solid transparent;
  border-radius: var(--radius);
  margin: var(--margin);
  padding: .75rem;
  animation: fileFade .75s ease both;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  cursor: pointer; 
  transition: all .25s ease;
}
@media screen and (min-width: 1921px) {
  #fileList {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .fileLink {
    width: calc(20vw - 88px); /*3 times the margin variable*/;
  }
}
.fileLink:hover {
border: lightblue 1px solid;
}

.fileDownload, .fileDelete, .fileEdit {
  height: 2rem;
  width: 2rem;
  padding: .5rem;
  margin-right: 4px;
  border-radius: 4px;
  background-color: var(--dark);
  cursor: alias;
  transition: all .15s ease;
}
.fileDownload:hover,
.fileDelete:hover,
.fileEdit:hover {
  background-color: var(--fileFocus);
}
.fileLink img {
  height: 1rem;
  width: 1rem;
}
.fileName {
  word-break: break-all;
}

/*menu*/
#menuArea {
  padding-top: 6rem;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 6rem;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline: 12px;
  transition: all .15s ease;
  border: 1px solid transparent;
}
#menuArea:hover {
  width: calc(8rem + 4vw);
  backdrop-filter: blur(4px);
  top: 8vh;
  bottom: 8vh;
  background-color: var(--popup);
  box-shadow: 1rem 1rem 1rem var(--secondary);
  border-radius: 1rem;
  border: 1px solid var(--secondary);
}
#menuArea div {
  padding: .75rem;
  border-radius: var(--radius);
  color: white;
  font-weight: bold;
  margin-block: 1rem;
  margin-inline: .5rem;
  text-align: center;
  cursor: alias;
}
#menuArea * {
  transition: all .15s ease;
}
#menuArea div:hover {
  background-color: var(--fileFocus);
}
#menuArea div:hover img {
  transform: scale(.9);
}
#menuArea img {
  height: 2rem;
  width: 2rem;
}
#menuArea #diskSpace {
  padding-left: 0;
  margin-left: 0;
}
#uploadPopupCon label {
  position: fixed;
  top: 0;
  bottom: 5rem;
  left: 0;
  right: 0;
}

.active {
  border:  2px solid lightblue;
  background-color: var(--dark);
}

/*upload*/
#uploadPopupCon,
#uploadStatusPopupCon,
#deletePopupCon,
#warningPopupCon,
#sharePopupCon,
#settingsPopupCon,
#diskPopupCon,
#successUploadPopupCon {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.uploadStatus {
  display: none;
}
.uploadStatus.activeUploadStatus {
  display: block;
  border: none;
  animation: opacity 10s infinite both;;
}
@keyframes opacity {
  0% {opacity: 0;}
  25% {opacity: 1;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}
.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: popup .15s ease both;
  min-width: 33vw;
  min-height: 4vh;
  background-color: var(--popup);
  backdrop-filter: blur(6px);
  border-radius: var(--radius);
  box-shadow: 0 0 6rem black;
  line-height: 2rem;
  padding: 0;
}
.popupIcon {
  height: 5rem;
  width: 5rem;
}
/*workspaces and settings*/
#sharePopup,
#settingsPopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: popup .15s ease both;
  min-width: 33vw;
  min-height: 44vh;
  background-color: var(--popup);
  border-radius: var(--radius);
  box-shadow: 0 0 6rem black;
  line-height: 2rem;
  padding: 0rem;
  overflow-y: scroll;
  padding: 2rem;
}
#addWorkspaceInput {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.addWorkspaceInputInput {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lightblue;
  border-radius: var(--radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  width: 88%;
  height: 4rem;
  transition: all .15s ease;
}
.addWorkspaceInputInput:focus {
  outline: none;
  transform: scale(0.95);
  border-bottom: 2px solid lightpink;
}
.addWorkspaceInputInput::placeholder {
  text-align: center;
  color: gray;
  font-style: italic;
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Track color */
  border-radius: 5px; /* Optional: rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #3a3a3a; /* Scrollbar thumb color */
  border-radius: 5px; /* Optional: rounded corners for the thumb */
  border: 2px solid #1e1e1e; /* Optional: adds a border to create space between thumb and track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575757; /* Thumb color when hovered */
}

select {
  background-color: var(--dark);
  width: 20vw;
}

.primarySecondaryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 2rem;
}
.primary {
  background-color: rgba(173, 216, 230, 0.75);
  border: none;
  cursor: crosshair;
  padding-inline: 1rem;
  padding-block: .5rem;
  border-radius: 1rem;
  transition: all .15s ease;
}
.secondary {
  border: solid 2px rgba(173, 216, 230, 0.5);
  background-color: transparent;
  cursor: pointer;
  padding-inline: 1rem;
  padding-block: .5rem;
  border-radius: 1rem;
  transition: all .15s ease;
}
.secondary:hover {
  background-color: #33333370;
  border: solid 2px rgba(173, 216, 230, .25);
}
.primary:hover {
  background-color: rgba(173, 216, 230, 0.5);
}
#statusBar {
  width: 88%;
  height: 1rem;
  background-image: linear-gradient(90deg, lightblue, lightblue, lightblue, lightpink, lightpink);
  border-radius: .5rem;
  animation: fileFade .5s ease both;
  box-shadow: 0 0 2rem black;
}
#statusBarUpload {
  width: 88%;
  height: 1rem;
  background-image: linear-gradient(90deg, lightblue, lightblue, lightblue, lightpink, lightpink);
  border-radius: .5rem;
  animation: fileFade .5s ease both;
  box-shadow: 0 0 2rem black;
}


/*keyframes*/
@keyframes popup {
  0% {opacity: 0; transform: scale(1.1); filter: blur(1px);}
}
@keyframes fileFade {
  0% {transform: scale(.75);}
}
@keyframes dropZone {
  0% {height: 40vh; padding-top: 19vh;}
}
